.Desktop {
    float: left;
    background-image: url(/images/desktop.jpg);
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.DesktopColumn {
    width:5%;
    float:left
}

.DesktopRow {
    width:100%;
    float:left;
    position: relative;
    text-align: center;
}

.DesktopContextMenu {
    width: auto;
    position: absolute;
    right: -105px;
    top: 0;
    background: white;
    z-index: 2;
    color: black;
    padding: 10px 0px;
}

.DesktopContextMenu p {
    margin: 0;
    padding: 5px 15px;
    text-align: left;
}

.DesktopContextMenu p:hover {
    background: #2f2f333b;
}

.DesktopCreateIcon, .DesktopEditIcon {
    position: absolute;
    top: 50%;
    left: 42%;
    background: white;
    padding: 40px;
    text-align: center;
    z-index: 99;
}

.DesktopCreateIcon input, .DesktopEditIcon input {
    display: block;
    margin-bottom: 10px;
}

.DesktopIcon {
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.DesktopIcon img {
    width: 50%;
    padding-bottom: 8px;
    display: block;
    margin: 0 auto;
}
.DesktopIcon span {
    display: contents;
    word-wrap: break-word;
    overflow: hidden;
}

.Directories {
    position: absolute;
    width: 100%;
}

.Directory {
    width: 800px;
    height: 400px;
    position: absolute;
    background: white;
    top: 20%;
    left: 20%;
    z-index: 2;
}


.CloseDirectory {
    display: block;
    position: absolute;
    right: 5px;
    top: 4px;
    background: red;
    width: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.HoveredRow{
    background: #2f2f333b;
}