.Desktop {
    float: left;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.DesktopColumn {
    float:left
}

.DesktopRow {
    width:100%;
    float:left;
    position: relative;
    text-align: center;
}

.DesktopContextMenu {
    width: auto;
    position: absolute;
    right: -105px;
    top: 0;
    background: white;
    z-index: 2;
    color: black;
    padding: 10px 0px;
    border: #2f2f333b 1px solid;
}

.DesktopContextMenu p {
    margin: 0;
    padding: 5px 15px;
    text-align: left;
}

.DesktopContextMenu p:hover {
    background: #2f2f333b;
}

.DesktopCreateIcon, .DesktopEditIcon {
    position: absolute;
    top: 38%;
    left: 42%;
    background: white;
    padding: 40px;
    text-align: center;
    z-index: 99;
    border-radius: 5px;
    border: #2f2f333b 1px solid;


}

.DesktopCreateIcon input, .DesktopEditIcon input {
    display: block;
    margin-bottom: 10px;
}

.DesktopCreateIcon .create_submit, .DesktopEditIcon .create_submit {
    border: none;
    padding: 5px 10px;
    color: white;
    background: blue;
    border: #2f2f333b 1px solid;
    border-radius: 5px;
    cursor:pointer;
    margin: 0 auto;
    text-transform: capitalize;
}

.DesktopIcon {
    text-align: center;
    height: 100%;
}

.DesktopIcon img {
    width: 45%;
    padding-bottom: 8px;
    display: block;
    margin: 0 auto;
}
.DesktopIcon span {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2em;
    line-height: 1em;
}

.Directories {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.Directory {
    width: 800px;
    position: absolute;
    background: white;
    top: 20%;
    left: 20%;
    z-index: 2;
    border-radius: 5px;

}


.CloseDirectory {
    display: block;
    position: absolute;
    right: 5px;
    top: 4px;
    background: red;
    width: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.HoveredRow{
    background: #2f2f333b;
}

.DirectoryDragableHeader {
    border-radius: 5px 5px 0 0;
}

.LoginForm {
    width: 100%;
    position: absolute;
    background: #808080a6;
}

.LoginForm form {
    width:200px;
    position: absolute;
    top: 40%;
    left:40%;
    text-align: center;
    background: white;
    padding: 20px 20px 0px 20px;
    border: #2f2f333b 1px solid;
}

.LoginForm input {
    margin-bottom: 10px;
}

.LoginForm .login_submit {
    border: none;
    padding: 5px 10px;
    color: white;
    background: blue;
    border: #2f2f333b 1px solid;
    border-radius: 5px;
    cursor:pointer;
    text-transform: capitalize;
}